<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user.present? -%>

  <% if flash[:notice] %>
  <font color='blue'><b><p>Welcome <%= current_user.username %> You <%= flash[:notice] %></p></b></font>
<% end %>
<% else -%>
<% if flash[:notice] %>
  <font color='blue'><b><p> <%= flash[:notice] %></p></b></font>
<% end %>
<% end %>

<% if flash[:error] %>
    <font color='red'><b><p><%= flash[:alert] %></p></b></font>
  <% end %>
    <%= yield %>
  </body>
</html>
